<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
-->
<div id="user_search_results">
  <% if @users.nil? or @users.empty? -%>
    <em class="subliminal">No users match your query.</em>
    
  <% else -%>
    <ol style="list-style-type: none;">
    <% @users.each do |user| -%>
      
      <li class="<%= cycle('even', 'odd') %>" style="padding: 7px;">
        <div class="thumbnail_for_list"><%= thumbnail(get_image(user), user, :small) %></div>
        <div id="user_details_for_list">
          <h2 class="inline"><%= link_to "#{h user.username}", user %></h2> //
          <h3 class="inline" style="padding-bottom: 5px;"><%= full_name(user) %></h3>
          
          <% if logged_in? -%>
            <%= friendship_action @user, user %>
          <% end -%>
        </div>
        
        <div class="clr"></div>
      </li>
      
    <% end -%>
    </ol>
  <% end -%>
  
  <%= will_paginate @users %>
</div>
