<li class="event_comment" id="comment_<%= comment.id %>">
  <%= display_name(comment.author) %> (<%= output_date(comment.created_at) %>):
  
  <% unless comment.rating == 0 %>
    <span id="rating">
      <% comment.rating.times do -%>
        <%= image_tag("16-star-hot.png") %>
      <% end -%>
      <% (5-comment.rating).times do -%>
        <%= image_tag("16-star-cold.png") %>
      <% end -%>
    </span>
  <% end -%>
  
  <p id="comment_text"><%=white_list comment.comment %></p>
  
	<% if comment.author.id == session[:user_id] -%>
	  <div id="comment_links">
	    <%= link_to_function 'Edit', 
        :href => edit_event_comment_path(@event, comment), 
        :method => :get, :id => "edit_comment_#{comment.id}" do |page|
          page.insert_html :before, "edit_comment_#{comment.id}", 
            "<em class='edit_comment' id='editing_comment_#{comment.id}' style='color:#999;'>Editing...</em>"
          page["edit_comment_#{comment.id}".to_sym].hide 
          page[:comment_form].hide
          page[:comment_add_link].hide
          page.insert_html :bottom, "comment_#{comment.id}".to_sym, 
            :partial => 'comments/edit', 
            :locals => { :comment => comment }
          page.select(".simple_comment_rating").each {|r| r.replace '' }
          page.select(".hover_comment_rating").each {|r| r.show }
        end
      %>
		  or 
		  <% link_to_remote 'Delete', 
		     { :url => event_comment_path(comment.event, comment), :confirm => 'Are you sure?', :method => :delete },
		     :href => delete_event_comment_path(comment.event, comment) %>
		  your comment
		</div>
	<% end -%>
</li>