<h1>All Users</h1>

<div id="user_table">
  <ol style="list-style-type: none;">
  <% for user in @users -%>
    <li class="<%= cycle('even', 'odd') %>" style="padding: 7px;">
      <div class="thumbnail_for_list">
        <%= thumbnail(get_image(user), user, :small) %>
      </div>
      <div id="user_details_for_list">
        <h2><%= link_to "#{h user.username}", user %></h2>
        <h3><%= full_name(user) %></h3>
      </div>
      <div class="clr"></div>
    </li>
  <% end -%>
  </ol>
  
  <br />
  <%= will_paginate @users %>
</div>