<div id="user_search_results">
  <% if @users.nil? or @users.empty? -%>
    <em class="subliminal">No users match your query.</em>
    
  <% else -%>
    <ol style="list-style-type: none;">
    <% @users.each do |user| -%>
      
      <li class="<%= cycle('even', 'odd') %>" style="padding: 7px;">
        <div class="thumbnail_for_list"><%= thumbnail(get_image(user), user, :small) %></div>
        <div id="user_details_for_list">
          <h2 class="inline"><%= link_to "#{h user.username}", user %></h2> //
          <h3 class="inline" style="padding-bottom: 5px;"><%= full_name(user) %></h3>
          
          <% if logged_in? -%>
            <%= friendship_action @user, user %>
          <% end -%>
        </div>
        
        <div class="clr"></div>
      </li>
      
    <% end -%>
    </ol>
  <% end -%>
  
  <%= will_paginate @users %>
</div>