<div id="event_list_wrapper">
  <div id="event_filtering">
    
    <%
      if @date 
        month = @date.mon
        day = @date.mday
        year = @date.year 
      end 
    -%>
    
    <div style="float: right; margin-right: 10px;">
      <% form_tag events_path, :method => :get, :id => 'filter_event_list' do -%>
        Zipcode: 
        <%= zipcode_filter(@zipcode) %>
        <br />
        
        <% unless @date -%>
					Sort: 
         	<%= created_at_radio_button %>
          Created Date
          
          <%= event_date_radio_button %>
          Event Date
        <% end -%>
        <% if @date -%>
          <input type="hidden" name="month" value="<%= month %>" />
          <input type="hidden" name="day" value="<%= day %>" />
          <input type="hidden" name="year" value="<%= year %>" />
        <% end -%>
        <%= submit_tag 'Filter' %>
      <% end -%>
      
      <%= observe_form 'filter_event_list', :url => events_path, :method => :get %>
    </div>
        
    <div>
      <h1 class="tight_heading"><%= @date.nil? ? "All Events" : "#{simple_date(@date)} events" %></h1>
      <h2 id="which_timezone" class="tight_heading"><%= (@zipcode and !@zipcode.nil? and !@zipcode.empty?) ? "for #{@zipcode}" : "for all locations" %>
  		</h2>
		</div>
      
  </div>

  <hr class="clr" />
  
  <%= render :partial => 'events/filtered_events' %>
  <div class="clr"></div>
  
  <br />
</div>

<br />

<div id="tag_cloud">
  <h2 class="tight_heading">Tag Cloud</h2>
  <div>
  <% cache(:action => 'index', :part => 'tag_cloud') do -%>
    <% tag_cloud_items(@tags).each do |link| -%>
    	<%= link %>
    <% end -%>
  <% end -%>
  </div>
</div>
