<div id="event_header">
  <% cache({:controller => "events", :action => "show", :id => params[:id], :part => "main_event_details", :creator => (session[:user_id])}, {:expire => 30.seconds.to_i}) do -%>
    <div id="event_thumbnail"><%= thumbnail(@event.image) %></div>
    <div id="main_event_details">
      <h1 class="inline"><%=h @event.title %></h1> <%= edit_delete_links(@event) %>
      <hr />
      <%= output_date(@event.event_timestamp) %><br />
      <br />
    	<% unless @event.document.nil? -%>
    		<%= link_to 'Event Literature', @event.document.public_filename %>
    	<% end -%>
	
    	<br />
      <div id="event_address">
        <%=h @event.address.street1 %><br />
        <% unless @event.address.street2.nil? or @event.address.street2.empty? -%>
          <%=h @event.address.street2 %><br />
        <% end -%>
        <%=h @event.address.city %>, <%=h @event.address.state %> <%=h @event.address.zip %><br />
        <%=h @event.address.country %>
      </div>
      Contact: <span id="event_contact"><%=h @event.telephone %></span><br />
    </div>
  <% end -%>
  <div class="clr"></div>
</div>

<% cache({:controller => "events", :action => "show", :id => params[:id], :part => "event_attendees", :login => !session[:user_id].nil?}, {:expire => 30.seconds.to_i}) do -%>
  <div id="event_attendees">
    <%= render :partial => 'attendees' %>
  </div>
<% end -%>

<% cache({:controller => "events", :action => "show", :id => params[:id], :part => "event_description"}, {:expire => 30.seconds.to_i}) do -%>
<div id="event_description">
	<p><strong>Summary</strong></p>
	<p><%= @event.summary %></p>
	<p><strong>Description</strong></p>
  <p><%= @event.description %></p>
</div>
<div class="clr"></div>
<div id="event_map">
  <%= render :partial => 'map' %>
</div>

<div id="event_tags">
  <h1 class="inline">Tags::</h1>
  <div id="tag_list">
    <%= render :partial => 'tag_list' %>
  </div>
  <div class="clr"></div>
</div>
<% end -%>

<div id="event_comments">
  <%= render :partial => 'comments/list' %>
</div>

<div id="comment_form" style="display: none;">
	<%= render :partial => "comments/new" %>
</div>

<div id="comment_add_link">
	<% if logged_in? -%>
  	<%= 
  	  link_to_function "Add a comment",
  	    :href => new_event_comment_path(params[:id]), 
        :method => :get, :id => "comment_link" do |page|
    	    page[:comment_form].visual_effect :blind_down
    	    page[:comment_add_link].hide
          page.select(".simple_comment_rating").each {|r| r.replace '' }
          page.select(".hover_comment_rating").each {|r| r.show }
  	  end
  	%>
  <% else -%>
    <br />
    <%= login_link %> to leave a comment.
  <% end -%>
</div>

<hr class="clr" />
